<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home | Venture Creations</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Serif+Display:wght@400;700&display=swap" rel="stylesheet">
  <script src="/scripts/home.js" defer></script>
</head>
<body>
  <%- include('partials/header') %>

  <main>

    <section class="home-hero">
      <div>
        <a href="/shop" class="btn">SHOP NOW</a>
      </div>
    </section>
    
    <section class="home-hero">
      <div class="hero-content">
        <h1>Custom Shirts to Support All of Life’s Ventures</h1>
        <p>From missionary work to youth group events, we craft custom shirts that inspire confidence and unity.</p>
      </div>
    </section>

    <section class="banner-images">
      <div class="banners-home">
        <div class="banner-item">
          <img src="/images/banner2.webp" alt="Banner 2">
          <div class="banner-text">
            <span class="line-top r1c1">Custom</span>
            <span class="line-middle r2c1">Missionary<br>Shirts</span>
            <span class="line-bottom r3c1">Shop Now</span>
          </div>
        </div>
        <div class="banner-item">
          <img src="/images/banner1.webp" alt="Banner 1">
          <div class="banner-text">
            <span class="line-top r1c2">Custom</span>
            <span class="line-middle r2c2">Group<br>Shirts</span>
            <span class="line-bottom r3c2">Shop Now</span>
          </div>
        </div>
        <div class="banner-item">
          <img src="/images/banner3.webp" alt="Banner 3">
          <div class="banner-text">
            <span class="line-top r1c3">Custom</span>
            <span class="line-middle r2c3">Business<br>Shirts</span>
            <span class="line-bottom r3c3">Shop Now</span>
          </div>
        </div>
    </section>

    <section class="featured-section container">
      <h2>Newly Added Designs</h2>
      <div class="product-grid">
        <% products.slice(0, 3).forEach(product => { %>
          <div class="product-card">
            <img class="product-img" src="<%= product.images[0] %>" data-images='<%= JSON.stringify(product.images) %>' alt="<%= product.name %>">
            <h3><%= product.name %></h3>
            <p>$<%= product.price.toFixed(2) %></p>
            <a href="/shop/<%= product._id %>" class="btn">View Shirt</a>
          </div>
        <% }) %>
      </div>
    </section>

    <section class="features-icons">
      <div class="feature">
        <img src="/images/shipping.png" alt="Fast Shipping">
        <p>Fast, Free Shipping</p>
        <p><em>On orders over $100</em></p>
      </div>
      <div class="feature">
        <img src="/images/thumbup.png" alt="Customer Satisfaction">
        <p>Satisfaction Guarantee</p>
        <p><em>On All Of Our Products</em></p>
      </div>
      <div class="feature">
        <img src="/images/bulk.png" alt="Bulk Discounts">
        <p>Bulk Discounts</p>
        <p><em>Available On All Products</em></p>
      </div>
      <div class="feature">
        <img src="/images/customizable.png" alt="Customizable Designs">
        <p>Customizable Designs</p>
        <p><em>Available On All Products</em></p>
      </div>
    </section>
  </main>


  <%- include('partials/footer') %>
</body>
</html>