<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home | Venture Creations</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnH2N1+pzpB3ZT9TZfE09aYUI+ZK+URME9A6z2o5ChqbkBa9tF+uyVBGX1rYt9MwuyJJkzL0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/scripts/home.js" defer></script>
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <section class="home-hero">
      <div class="hero-content">
        <h1>Creating Shirts to Support All of Life’s Ventures</h1>
        <p>From missionary work to youth group events, we craft custom shirts that inspire confidence and unity.</p>
        <a href="/shop" class="btn">Shop Now</a>
      </div>
    </section>

    <section class="featured-section container">
      <h2>Newly Added Designs</h2>
      <div class="product-grid">
        <% products.slice(0, 3).forEach(product => { %>
          <div class="product-card">
            <img class="product-img" src="<%= product.images[0] %>" data-images='<%= JSON.stringify(product.images) %>' alt="<%= product.name %>">
            <h3><%= product.name %></h3>
            <p>$<%= product.price.toFixed(2) %></p>
            <a href="/shop/<%= product._id %>" class="btn">View Shirt</a>
          </div>
        <% }) %>
      </div>
    </section>
  </main>


  <%- include('partials/footer') %>
</body>
</html>